{% extends 'shopping/base.html' %}
{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
    {% endif %}
    {%if next %}
    {% if request.user.is_authenticated %}
    {% else %}    
    {% endif %}
  {% endif %}
  <p><b>Please login, or <a href = "{% url 'shopping:signup' %}">Register</a></b></p>
  <p><b>Log in to your superuser account to edit products (add new products, delete products, edit product information) and check brand bar chart and orders.
    <br> Deleting and editing product in product detail page
  </b></p>
    <form method="POST" action="{% url 'shopping:login' %}"> 
    {% csrf_token %}
    <p>
      {{ form.username.label_tag }}
      {{ form.username }}
    </p>
    <p>
      {{form.password.label_tag }}
      {{form.password }}
    </p>
      <input type="submit" value="Log in">
      <input type="hidden" name='next' value="{{ next}}"/>
   </p>
</form>
    {% endblock %}