{% extends 'shopping/base.html' %}
{% block content %}
    <h1>Computer Shopping: Login</h1>
    {% if form.errors %}
       <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    {%if next %}
    {% if request.user.is_authenticated %}
    <!-- proceed to requested page-->
    {% else %}
    <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
     
    {% endif %}
  {% endif %}
  <p>Please login, or <a href = "{% url 'shopping:signup' %}">Register</a> to see this page.</p>
  <p>Log in to your superuser account to edit products (add new products, delete products, edit product information).</p>
    <form method="POST" action="{% url 'shopping:login' %}"> 
    {% csrf_token %}
    <p>
      {{ form.username.label_tag }}
      {{ form.username }}
    </p>
    <p>
      {{form.password.label_tag }}
      {{form.password }}
    </p>
      <input type="submit" value="Log in">
      <input type="hidden" name='next' value="{{ next}}"/>
   </p>
</form>
    {% endblock %}