{% load static %}
<html lang="en">
<head>
    <title> Computer Shopping Station </title>
    <link rel="stylesheet" href="{% static 'cssStyle.css' %}">

</head>

<body>

<div class="normal_links"> 
    <p> 
    
        <a href = "{% url 'shopping:product_list' %}">Home</a> |
        

        {% if user.is_authenticated %}
        <a href = "{% url 'shopping:basket_detail' %}">Basket</a> |
        
        <a href = "{% url 'shopping:logout' %}">Log Out</a> </p>
        {% else %}
        <a href = "{% url 'shopping:login' %}">Log In</a> 
    </p>
        {% endif %}

</div>
    {% block content %}
    {% endblock %}

</body>
</html>